//Mobile First Approach
@media screen and (min-width: 426px) and (max-width: 1023px) {
	//some properties for TABLET
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  //some properties for DESKTOP
}